<header>
  <div id="header-top">
    <h1>Beatriz Alonso</h1>
    <p>
      2D Videogame Artist
    </p>
    <section id="social-media">
      <a href="https://es.linkedin.com/in/beatrizalonsocarvajales">
        <img src="/imgs/icons/IconLinkedIn.png" alt="LinkedIn" />
      </a>
      <a href="https://twitter.com/beaconpancakes">
        <img src="/imgs/icons/IconTwitter.png" alt="Twitter" />
      </a>
    </section>
  </div>
  <p id="contact">
    <a href="mailto:beatrizalonso84@gmail.com">beatrizalonso84@gmail.com</a>
    / +34&nbsp;649&nbsp;307&nbsp;575
  </p>
</header>
