<header class="main-header">
  <div id="header-top">
    <h1>
      <a href="/">Beatriz Alonso</a>
    </h1>
    <p>2D Artist</p>
    <section id="social-media">
      <a href="https://es.linkedin.com/in/beatrizalonsocarvajales"
      target="_blank">
        <img src="/imgs/icons/IconLinkedIn.png" alt="LinkedIn" />
      </a>
      <a href="https://twitter.com/beaconpancakes" target="_blank">
        <img src="/imgs/icons/IconTwitter.png" alt="Twitter" />
      </a>
    </section>
  </div>
  <p id="contact">
    <a href="mailto:beatrizalonso84@gmail.com">beatrizalonso84@gmail.com</a>
    /
    <a href="tel:/0019143872733" class="phone-number">
      +1&nbsp;(914)&nbsp;387-2733
    </a>
  </p>
</header>
