<nav>
  <ul>
    {{#menuEntry for="Project Index" href="/"}}Index{{/menuEntry}}
    {{#menuEntry for="Blog" href="/blog/"}}Blog{{/menuEntry}}
    {{#menuEntry for="Resume" href="/resume/"}}Resume{{/menuEntry}}
  </ul>
</nav>
