#wrapper > * {
  padding-top: 2rem;
}

main {
  padding-left: 3rem;
  max-width: none;
}

#page-home img {
  margin: 0.3rem;
  border-radius: 10px 0;
  max-width: 225px;
  max-height: 225px;
}

#page-home a {
  text-decoration: none;
}

#project-grid-wrapper {
  margin-left: -0.3rem; /* minus #page-home img { margin } */
}

@media only screen and (max-width:60rem) {

  #wrapper > * {
    padding-top: 0;
  }

  main {
    padding: 0;
  }

  h2 {
    display: none;
  }

  #project-grid-wrapper {
    text-align: center;
    font-size: 0;
  }

  #page-home img {
    margin: 0;
    border-radius: 0;
    width: 50%;
  }
}
