.project-shell {
  position: fixed;
  top: 110px; /* header height */
  bottom: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.software-icons {
  width: 40px;
  height: auto;
  box-shadow: none;
  margin: 0.5rem;
}

body {
  background-color: #333;
  color: white;
}

body > nav {
  width: 10%;
  min-width: 60px;
}

.project-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-nav * {
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#project-nav-left {
  align-items: flex-end;
  left: 0;
}

#project-nav-left a {
  background-image: url("/imgs/icons/IconNavLeft.png");
}

#project-nav-left > a:hover {
  background-image: url("/imgs/icons/IconNavLeftHover.png");
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 90%;
  left: 10%;
  padding: 1rem 0;
}

.gallery {
  box-sizing: border-box;
  width: 56%;
  text-align: center;
  padding: 0;
}

.gallery img {
  width: 80%;
  height: auto;
  margin: 1rem 0;
  box-shadow: 0 0 35px 2px black;
}

#project-nav-right {
  justify-content: space-between;
  align-items: flex-start;
  right: 30%;
}

#project-nav-right .next {
  background-image: url("/imgs/icons/IconNavRight.png");
}

#project-nav-right .next:hover {
  background-image: url("/imgs/icons/IconNavRightHover.png");
}

#project-nav-right .close {
  padding-top: 2rem;
  background-origin: content-box;
  background-image: url("/imgs/icons/IconClose.png");
}

#project-nav-right .close:hover {
  background-image: url("/imgs/icons/IconCloseHover.png");
}

/* This is a helper to keep the right navigation arrow
in the center of the box. Its total heigh must be the
same as the .close element. */
#project-nav-right .stop {
  height: 44px; /* Icon's height */
  padding-bottom: 2rem; /* .close: padding-top */
}

aside {
  right: 0;
  width: 30%;
  color: black;
  text-align: left;
}

aside p {
  margin-bottom: 0.5rem;
  text-align: left;
}

aside h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #787a89;
  margin-bottom: 0.7rem;
}

aside h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #a11f5b;
  margin-bottom: 0.25rem;
  margin-top: 1em;
}

#project-detail-wrapper {
  margin: 1rem 2rem 0 0;
  padding: 1.5rem;
  background: white;
  box-shadow: 0 0 35px 2px black;
}

@media only screen and (max-width:60rem) {

  main {
    display: block;
  }

  main,
  .gallery {
    left: 0;
    width: 100%;
    padding: 0;
  }

  .gallery img {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
  }

  .project-nav {
    z-index: 490;
  }

  #project-nav-right {
    right: 0;
  }

  aside,
  #project-detail-wrapper {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }
}
