
#wrapper {
  background-color: #a11f5b;
}

#wrapper > * {
  padding-top: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
  color: #787a89;
}

#last-job {
  color: #a11f5b;
}

h4 {
  font-size: 1.05rem;
  font-weight: 400;
  color: #787a89;
  margin-bottom: 0.4rem;
}

main {
  padding: 0 3rem;
}

main p {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.game-published h4 {
  color: #a11f5b;
}

.platform a {
  color: #787a89;
  font-weight: 400;
}

.platform, .game-published h4 {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.experience-block h3 {
  display: inline-block;
  margin-right: 0.75rem;
}

dt {
  font-size: 0.85rem;
  font-weight: 600;
}

dd {
  margin-bottom: 0.85rem;
  text-align: right;
}

dd img {
  float: left;
  width: 3.5rem;
  margin: 0.4rem;
}

hr {
  border: none;
  border-top: 3px dotted #787a89;
  margin-top: 1.5rem;
}

#skills-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 0;
  margin: 1rem;
  margin-top: 1rem;
  line-height: 1rem;
}

#skills-column ul {
  padding-bottom: 2rem;
}

#skills-column h4 {
  margin-bottom: 0.75rem;
  font-size: 1.15rem;
}

#languages {
  padding-bottom: 2rem;
}

#languages dt {
  font-size: 1rem;
  font-weight: 500;
  color: #a11f5b;
}

#languages dd {
  font-size: 0.85rem;
  text-align: left;
}

main li {
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.download-cv {
  display: block;
  text-align: center;
  padding: 0.65rem;
  background-color: #f3f3f3;
}

.download-cv a {
  color: #787a89;
  font-weight: 200;
}

@media only screen and (max-width:60rem) {

  #wrapper > * {
    padding-top: 0;
  }

  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main img {
    float: none;
    display: flex;
    flex-direction: column;
  }

  #skills-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 0;
  }

  #skills-column h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }

  .title-icon {
    display: inline-block;
  }

  .whitespaces {
    display: none;
  }
}
