* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  /* min-fs + (max-fs - min-fs) * ((viewport-width - min-vw) / (max-vw - min-vw)) */
  font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
}

a {
  color: #a11f5b;
}

a:hover {
  font-weight: 400;
}

header {
  position: sticky;
  z-index: 499;
  top: 0;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.3);
  color: black;
  background-color: white;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #787a89;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
  color: #787a89;
  margin-bottom: 0.7rem;
}

#header-top {
  display: flex;
  align-items: baseline;
}

#header-top p {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.15rem;
  color: #a11f5b;
}

#social-media {
  text-align: right;
  margin-left: auto;
}

#social-media a {
  text-decoration: none;
}

#social-media img {
  width: 1.75rem;
  margin: 0 0.1rem;
}

#contact {
  text-align: right;
  font-weight: 300;
  margin-top: 0.35rem;
}

@media only screen and (max-width:60rem) {
  header {
    position: relative;
  }
}

@media only screen and (max-width:30rem) {
  #header-top p {
    display: none;
  }
}
