:root {
  --navigation-height: auto;
  --navigation-control-height: 44px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Open Sans", sans-serif;
  /* min-fs + (max-fs - min-fs) * ((viewport-width - min-vw) / (max-vw - min-vw)) */
  font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
}

a {
  color: #a11f5b;
}

a:hover {
  font-weight: 400;
}

.main-header {
  position: sticky;
  z-index: 499;
  top: 0;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.3);
  color: black;
  background-color: white;
}

.navigation {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 200px;
  font-size: 1.4rem;
  background-color: #f3f3f3;
}

.navigation ul {
  list-style: none;
}

.navigation li.active {
  background-color: white;
}

.navigation a {
  display: block;
  color: #787a89;
  text-decoration: none;
  font-weight: 300;
  padding: 1rem;
}

.navigation p {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1rem;
}

.navigation-control {
  text-align: center;
  display: none;
  color: white;
  background-color: #a11f5b;
  max-height: var(--navigation-control-height);
  min-height: var(--navigation-control-height);
}

.navigation-control label {
  display: block;
  cursor: pointer;
}

.navigation-control input {
  position: absolute;
  bottom: 100%;
}

.arrow-toggle {
  transition: transform 500ms;
}

.arrow-toggle img {
  width: auto;
  margin: 0;
}

.navigation.show-menu .arrow-toggle {
  transform: rotate(180deg);
}

.navigation ~ * {
  transition: transform 500ms;
}

.navigation.show-menu ~ * {
  transform: translateY(var(--navigation-height));
}

main {
  box-sizing: border-box;
  max-width: 80ex;
  background-color: #fff;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #787a89;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
  color: #787a89;
  margin-bottom: 0.7rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  color: #a11f5b;
}

h4 {
  margin-bottom: 0.5rem;
}

#header-top {
  display: flex;
  align-items: baseline;
}

#header-top p {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.15rem;
  color: #a11f5b;
}

#wrapper {
  display: flex;
}

#social-media {
  text-align: right;
  margin-left: auto;
}

#social-media a {
  text-decoration: none;
}

#social-media img {
  width: 1.75rem;
  margin: 0 0.1rem;
}

#contact {
  text-align: right;
  font-weight: 300;
  margin-top: 0.35rem;
}

.phone-number {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width:60rem) {
  header {
    position: relative;
  }

  #wrapper {
    display: block;
  }

  .navigation {
    --navigation-height-offset: calc(-1 * var(--navigation-height) + 1px);
    position: absolute;
    z-index: 490;
    transform: translateY(var(--navigation-height-offset));
    transition: transform 500ms;
  }

  .navigation.show-menu {
    transform: none;
  }

  .navigation {
    width: 100%;
    background-color: #a11f5b;
  }

  .navigation a {
    color: white;
  }

  .navigation li.active {
    background-color: #c26d94;
  }

  .navigation-control {
    display: block;
  }

  main {
    position: relative;
    top: var(--navigation-control-height);
    max-width: none;
  }

  h2 {
    padding-top: 1rem;
  }
}

@media only screen and (max-width:30rem) {
  #header-top p {
    display: none;
  }
}
