
#wrapper {
  background-color: #a11f5b;
}

#wrapper > * {
  padding-top: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  color: #a11f5b;
}

main p {
  margin-bottom: 0.4rem;
}

hr {
  border: none;
  border-top: 3px dotted #787a89;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.blog-list li {
  list-style-type: circle;
  margin-bottom: 0.5rem;
}

.disclaimer {
  color: #a11f5b;
  font-size: 1rem;
  font-weight: 400;
}

.highlight {
  font-size: 1.25rem;
  font-weight: 600;
}

.intro {
  margin-bottom: 2rem;
  background-color: rgba(161, 31, 91, 0.65);
  padding: 1rem 3rem;
  color: white;
}

.intro img {
  border: white 3px solid;
}

main p.publication-date {
  font-size: 1.00rem;
  font-weight: 400;
  color: #787a89;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  text-align: right;
}

.blog-entry p {
  margin-bottom: 0.8rem;
}

.content-spaced {
  padding-left: 3rem;
  padding-right: 3rem;
}

.about {
  background-color: rgba(161, 31, 91, 0.65);
  padding: 1rem 2.25rem;
  color: white;
}

.about a {
  color: white;
  font-weight: bold;
}

img {
  margin: 0.75rem auto 1rem;
  width: 100%;
  height: auto;
}

@media only screen and (max-width:60rem) {

  #wrapper > * {
    padding-top: 0;
  }

  .content-spaced {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .whitespaces {
    display: none;
  }
}
