
#wrapper {
  display: flex;
  background-color: #a11f5b;
}

#wrapper > * {
  padding-top: 2rem;
}

nav {
  box-sizing: border-box;
  width: 20%;
  min-width: 200px;
  font-size: 1.4rem;
  background-color: #f3f3f3;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 1rem;
}

nav li.active {
  background-color: white;
}

nav a {
  color: #787a89;
  text-decoration: none;
  font-weight: 300;
}

nav p {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1rem;
}

main {
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  width: 80%;
  max-width: 80ex;
  background-color: #fff;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1.7rem;
  margin-bottom: 0.7rem;
  color: #787a89;
}

#last-job {
  color: #a11f5b;
}

h4 {
  font-size: 1.05rem;
  font-weight: 400;
  color: #787a89;
  margin-bottom: 0.4rem;
}

main p {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.game-published h4 {
  color: #a11f5b;
}

.platform a {
  color: #787a89;
  font-weight: 400;
}

.platform, .game-published h4 {
  display: inline-block;
  margin-bottom: 0.5rem;
}

dt {
  font-size: 0.85rem;
  font-weight: 600;
}

dd {
  margin-bottom: 0.85rem;
  text-align: right;
}

dd img {
  float: left;
  width: 3.5rem;
  margin: 0.4rem;
}

hr {
  border: none;
  border-top: 3px dotted #787a89;
  margin-top: 1.5rem;
}

#skills-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 0;
  margin: 1rem;
  margin-top: 3rem;
  line-height: 1rem;
}

#skills-column h3 {
  margin-top: 0.5rem;
  font-size: 1.15rem;
}

#languages dt {
  font-size: 1rem;
  font-weight: 500;
  color: #a11f5b;
}

#languages dd {
  font-size: 0.85rem;
}

main li {
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.download-cv {
  display: block;
  text-align: center;
  padding: 0.65rem;
  background-color: #f3f3f3;
}

.download-cv a {
  color: #787a89;
  font-weight: 200;
}

@media only screen and (max-width:60rem) {

  #wrapper > * {
    padding-top: 0;
  }

  nav {
    display: none;
  }

  main {
    padding: 2rem;
    width: 100%;
  }

  main img {
    float: none;
    display: flex;
    flex-direction: column;
  }

  #skills-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 0;
  }

  #skills-column h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }

  .whitespaces {
    display: none;
  }
}
