<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - {{page-title}}</title>
    <meta name="description" content="Beatriz Alonso - Personal Website">
    {{> styles}}
    <link rel="stylesheet" href="/styles/blog.css" media="screen">
    {{> analytics}}
  </head>
  <body>
    {{> header}}
    <div id="wrapper">
      {{> menu}}
      <main>
        <h2>Blog</h2>
        <section class="intro">
          <p class="highlight">2020 parece un buen año para irse a vivir a New York...</p>
          <p>Cuando en el 2020 mi familia y yo conseguimos mudarnos a Estados Unidos,
            nadie pensaba que el mundo se iba a volver patas arriba. Esto es un espacio
            donde compartir micropensamientos y curiosidades, en español, de toda esta
            experiencia.</p>
        </section>
        <article class="">
          <p class="publication-date">weekday, number de month de year</p>
          <h3>Acción de Gracias</h3>
          <p>Todos hemos oído hablar de Acción de Gracias en España, bla, bla, bla.</p>
          <hr>
        </article>
        <div class="title-icon">
      </main>
    </div>
  </body>
</html>
