<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - {{page-title}}</title>
    <meta name="description" content="Beatriz Alonso - Personal Website">
    {{> styles}}
    <link rel="stylesheet" href="/styles/blog.css" media="screen">
    {{> analytics}}
  </head>
  <body>
    {{> header}}
    <div id="wrapper">
      {{> menu}}
      <main>
        <header class="content-spaced">
          <h2>Blog</h2>
          <p class="disclaimer">Only in Spanish! (by now)</p>
        </header>
        <section class="intro">
          <p class="highlight">2020 parece un buen año para irse a vivir a New York...</p>
          <p>Cuando en el año 2020 mi familia y yo conseguimos mudarnos a Estados Unidos,
          desde Madrid, nadie pensaba que el mundo se iba a volver patas arriba.
          Esto es un espacio donde compartir pensamientos y curiosidades, en
          español, de toda esta experiencia.</p>
          <img src="/imgs/blog/EnterUSA.gif" alt="Land of opportunities and paperwork">
        </section>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Viernes, 22 de enero de 2021</p>
          <h3>Alarmas de incendio</h3>
          <p>Antes de venir a vivir a New York, la verdad es que mi experiencia
            con los incendios era muy limitada. Sí, había tenido algún curso de
            prevención de riesgos laborales, y recuerdo hacer simulacros de
            incendio en varios de los trabajos en los que he estado (mención
            especial para aquel en la séptima planta, que luego subíamos andando
            porque paraban los ascensores...). Pero nunca había estado en ningún
            incendio ni había oído una alarma fuera de un simulacro, nunca.</p>
          <p>El día <strong>1 de diciembre</strong>, sobre las 5 de la tarde, la
            <strong>alarma de incendios de nuestro edificio empezó a pitar como
            si estuviera poseída</strong>. Desconcertados, sin saber muy bien qué
            estaba pasando, vimos que era la alarma. Yo estaba en pijama, por cierto,
            así que fui rápidamente a coger una sudadera y el móvil, al mismo tiempo
            que mi marido me pedía que cogiese los pasaportes. Casi se me olvida
            la mascarilla. Dejamos las luces encendidas y la Roomba puesta, de la
            prisa, ni siquiera nos pusimos los zapatos.
            Salimos al pasillo y las puertas de seguridad estaban cerradas. Yo ni
            siquiera había reparado en que teníamos esas puertas. Bajamos por
            la escalera de incendios al patio frontal y nos refugiamos en la
            recepción. La gente empezó a bajar y a acumularse. Muchos iban en pijama,
            como yo. Otros habían tenido que agarrar a sus mascotas y meterlas en jaulas,
            o las llevaban en brazos. Un gato aterrorizado no paraba de maullar.
            Nos pidieron que saliéramos, que había mucha
            gente en recepción, y a los pocos minutos, empezamos a oír las sirenas
            de los bomberos. Llegaron casi al momento dos coches, y luego otros dos más,
            y la policía. Y nosotros como pasmarotes, muriéndonos de frío y haciendo
            fotos.</p>
          <img src="/imgs/blog/FireFighters.jpg" alt="Fire fighters truck">
          <p>Los bomberos entraron y al cabo de un rato, se empezó a escuchar que
            el problema había ocurrido en el piso 8, así que eso nos dejó respirar
            más tranquilos. Nos acercamos a preguntar a los bomberos si era seguro
            volver a casa y nos dijeron que no había problemas si no estábamos en
            el piso 8, el 7 o el 6, ya que los pisos inferiores habían recibido
            daños por agua.</p>
          <p>Regresamos a casa con más o menos emoción, y seguimos con nuestra vida
            normal. Pasadas unas horas, nos llegó un correo del edificio
            explicándonos que se había incendiado una de las cocinas. Esa misma
            noche, mientras veíamos una serie, volvió a sonar de nuevo la alarma.
            Así que, con mucha más calma, nos calzamos, nos pusimos abrigo y
            mascarillas, cogimos móvil, llaves y pasaportes y volvimos a bajar.
            En esta ocasión bajó mucha menos gente. Muchos de ellos se estaban
            quejando porque la alarma les había sacado de la cama (eran como las
            11 de la noche). Pero enseguida se apagó y salió
            uno de los encargados de mantenimiento a decirnos que había saltado
            por un problema en uno de los ascensores, pero que podíamos volver a
            casa.</p>
          <p>Menudo día.</p>
          <p>El pasado <strong>13 de enero</strong>, volvió a sonar la alarma.
            Con calma, nos preparamos y bajamos. Vinieron los bomberos, otra vez
            con mucha rapidez, y entraron a comprobarlo todo. Pero al poco tiempo
            quitaron la alarma y nos dijeron que podíamos volver a casa. Ese mismo
            día, nos mandaron un correo del edificio en el que nos decían que la
            causa de la alarma había sido <strong>alguien vapeando en un
            pasillo</strong>... Aparte de la movilización de los bomberos, en nuestro
            edificio está prohibido fumar, así que no quiero pensar en la sanción
            que le meterían... </p>
          <p><strong>Esta mañana ha vuelto a sonar la alarma</strong>. Con desgana,
            hemos seguido el ritual que tenemos más o menos asumido, y hemos vuelto
            a bajar. A los veinte minutos, más o menos, se han ido los bomberos y
            hemos vuelto a casa, con la sensación de haber perdido el tiempo:
            <strong>uno de los detectores estab defectuoso</strong>.</p>
          <p>Por lo que parece, esto es bastante común por esta zona. Es tan común
            que mucha gente acaba por ignorar las alarmas si son muy frecuentes,
            y claro, a veces ocurren accidentes. Supongo que serán excesivamente
            sensibles y para activarlas hace falta poco. También es verdad que una
            de las peores cosas que he visto en las casas de aquí, son los
            <strong>extractores de humos</strong> de las cocinas. Es curioso porque,
            además, todos los otros expatriados que conozco también se quejan de
            ellos. Son muy poco potentes, muy ruidosas y en general, no quitan olores.
            Y deberían funcionar bien, dado que la mayoría de las cocinas aquí
            están integradas con el salón o el comedor.
            No quiero pensar qué puede pasar si algún día quemo una sartén.</p>
          <p>Eso sí, tenemos un <strong>mini extintor</strong> debajo del fregadero,
            será para sentirnos más seguros...
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Lunes, 11 de enero de 2021</p>
          <h3>De política y chocolate</h3>
          <p>Está claro que vivimos en una época muy convulsa en todo el mundo.
          No hablamos del Coronavirus únicamente, si no también de la situación
          política e incluso de lo extraño del tiempo, que ha hecho que <strong>
          nevara en España como no lo había hecho en 50 años</strong>, empequeñeciendo
          nuestra primera gran nevada de aquí.</p>
          <p>Pero la política está siendo la gran protagonista de los últimos días,
          desde que el pasado <strong>6 de enero</strong> un grupo de personas
          asaltara el interior del Capitolio para intentar parar el conteo de los
          votos para ratificar a Joe Biden como presidente electo. En cuanto nos
          enteramos, pusimos las noticias y seguimos lo que estaba pasando,
          alucinando. La verdad es que, sin entrar en consideraciones
          partidistas, me pareció que lo que estaba pasando era tremendamente
          diferente a si eso mismo hubiese ocurrido en Europa. Me sorprendían los
          comentaristas de las noticias y los congresistas, me sorprendían los
          asaltantes y me sorprendían las fuerzas del orden. Veo que hay cosas que
          cosas que a mí me parecen normales o fuera de lo normal, que a ellos,
          simplemente, no se lo parecen.</p>
          <p>Me doy cuenta que, cuanto más tiempo llevo viviendo aquí, menos
          legitimada me siento para juzgar este país y a su gente. Puedo ver
          que tenemos mentalidades distintas, que nuestro bagaje cultural, social,
          político y religioso no tienen nada que ver y, por eso, es muy difícil
          comparar. Estoy adaptándome, así que espero poco a poco ir comprendiendo
          toda esta nueva cultura. Y lo veo porque estoy siendo más prudente a
          la hora de usar palabras como <em>"normal"</em> o <em>"raro"</em>, o
          expresiones como <em>"eso lo sabe todo el mundo"</em>.</p>
          <hr>
          <p>Y mientras tanto, la vida sigue, y aquí en NY ya se puede ver cómo
          tiendas y supermercados se preparan para la siguiente celebración del
          año: <strong>San Valentín</strong>. Si en España esta fiesta ya me parecía
          comercial, aquí es algo que sólo definiré diciendo: chocolates de mil y
          una marcas, con cajas rosas especialmente diseñadas, hasta donde
          alcanza la vista. Qué bien se lo montan las marcas aquí: en <strong>
          Halloween</strong>, chocolatinas en forma de calabazas y <em>packaging</em> naranja;
          en <strong>Navidad</strong>, chocolatinas en forma de muñecos de nieve
          y <em>packaging</em> verde y rojo; en <strong>San Valentín</strong>,
          chocolatinas en forma de corazones y <em>packaging</em> rosa... ¡Espero
          que el <strong>4 de julio</strong> haya chocolatinas en forma de fuegos
          artificiales!</p>
          <img src="/imgs/blog/PinkValentine.jpg" alt="Pink Valentine">
          <p>Aparte de la locura del chocolate, por supuesto, hay docenas de
          tarjetas, peluches, complementos y cualquier cosa que se os ocurra tuneada
          con corazones para la ocasión. ¿Calcetines? ¿Gomas de borrar de unicornios?
          ¿Sartenes con forma de corazón? ¿Laca de uñas rosa? ¿Dinosaurios
          comestibles de gelatina? ¿Galletas para perros? <strong>Sí</strong>.</p>
          <p>Para mí lo más raro, es el hecho de que metan a los niños en la
          celebración, que la conviertan en algo familiar. No sé exactamente cómo
          celebran aquí San Valentín, pero he leído que es una celebración tanto del
          amor como de la amistad. He visto que se anima a los niños a que se
          hagan su propio buzón para tarjetas, que hacen manualidades y también he
          visto que se pueden hacer regalitos como lápices o pegatinas...
          Es tremendo.
          </p>
          <p>Por supuesto, nos compramos nuestras cajas de chocolates de Darth Vader.
          En eso, los americanos y yo, estamos de acuerdo.
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Lunes, 4 de enero de 2021</p>
          <h3>Conducir en el bosque</h3>
          <p>Las carreteras en la zona donde vivimos son, al mismo tiempo,
          encantadoras y peligrosas.</p>
          <p>Parece mentira que estando relativamente cerca de <strong>New York
          City </strong>, en nuestra ciudad y los alredores haya tanto bosque.
          Muchas de las casas tienen jardines cuidados que, por detrás, dan
          directamente al mismo bosque. Y no es un bosque que yo haya visto en
          España. Son zonas grandes, casi sin tocar por el hombre, con árboles
          altos y salvajes, lagos cristalinos y todo lleno de animales. Es precioso.
          Mientras conduces puedes atisbar ciervos y pequeños rincones encantadores.
          En otoño, cuando llegamos, los colores de las hojas eran tan bonitos y
          vibrantes que parecía que alguien los había pintado y colocado ahí. Ahora
          en invierno, los árboles están pelados, pero sigue siendo bonito, y es más
          fácil ver los lagos y las casitas ocultas entre la vegetación. Y cuando
          nieva, todo parece un cuento.</p>
          <img src="/imgs/blog/Driving_Oct.jpg" alt="Driving in October">
          <img src="/imgs/blog/Driving_Nov.jpg" alt="Driving in November">
          <img src="/imgs/blog/Driving_Dec.jpg" alt="Driving in December">
          <p>Todo esto, tan bucólico, tiene una cara oscura. Las carreteras pueden
          llegar a ser peligrosas de conducir. No es sólo lo mal que conducen aquí
          (algo que daría y dará para varias entradas), si no que las condiciones
          no siempre son las mejores. El viento, que es bastante fuerte, puede
          hacer que se caigan ramas. La lluvia, que puede llegar a ser torrencial,
          también hace que se caigan ramas y dificulta el agarre (por suerte
          estamos lejos de la costa). El río Hudson, que sí está muy cerca, hace que
          se formen unos bancos de niebla muy espesos en los que no se ve nada.
          El frío provoca heladas, a parte de nieve y hielo. Todo esto afecta al
          asfalto, por supuesto. Y luego también hay que tener en cuenta que las
          carreteras, especialmente las comarcales, están muy escasamente iluminadas.
          Apenas hay farolas y, muchas de ellas, tililan y fallan. Sí, como en
          una peli de terror.</p>
          <p>¿Parece ya lo suficientemente peligroso? Pues aún no he hablado que
          pueden salir animales. Y no es algo infrecuente, por desgracia.</p>
          <p>El día de Año Nuevo, de madrugada, vimos nuestro primer ciervo cruzando
          la carretera delante nuestro. Por suerte, no había apenas tráfico e
          íbamos bastante lentos. El animal, que a mí me pareció gigantesco (mi
          marido sigue diciendo que era un ciervo normal, pero yo quiero creer),
          trotó con rapidez de derecha a izquierda y se nos quedó mirando desde
          el jardín de una casa. Minutos más tarde, pude ver los cuartos traseros
          de otro en el carril contrario.</p>
          <p>Como os podéis imaginar, conducir aquí puede inspirar respeto, sobre
          todo de noche. Pero con cuidado, cabeza y un buen coche, nos vamos apañando.
          Y, por el momento, yo sigo viendo la parte bonita.</p>
          <p>PD. Sólo diré que por esta zona, se supone que hay coyotes, linces
          y osos. Y si tengo que elegir, que me salga un ciervo casi parece mejor...</p>
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Domingo, 3 de enero de 2021</p>
          <h3>¡Hemos sobrevivido al 2020!</h3>
          <p> Muchas cosas han pasado que nos han mantenido ocupados, siendo las
          principales protagonistas las fiestas navideñas. Unas fiestas que, este
          año, no han sido normales para nadie que yo conozca. Y, para nosotros,
          han sido nuestras <strong>primeras Navidades americanas</strong>, con
          todo lo que la novedad conlleva. </p>
          <p>Realmente, según lo que he podido ver, son unas fiestas muy similares
          a Acción de Gracias. Cambia la decoración, eso sí, que es muy exagerada.
          He visto casas con luces normales, luces de LED con animaciones, proyecciones
          con luces para cubrir cada centímetro, muñecos de cualquier cosa imaginable,
          con luces y sin ellas (hinchables muchos, hechos con hileras de luces
          otros). Lo de los muñecos no tiene nombre: docenas de tipos de Santa Claus,
          renos, trineos, regalos, Belenes (con palmeras y todo), ángeles, niños
          de coro, muñecos de nieve, bastones de caramelo gigantes (mis favoritos).
          ¡He visto hasta un león con un gorro de Santa! De hecho, descubrimos que
          muy cerca de nuestra casa, había una especie de show en el que cuatro casas
          del vecindario se llenaban de adornos y sincronizaban sus luces con una
          emisora de radio local. Si querías, podías pasarte a pie o en coche y
          poner la radio para disfrutarlo. A decir verdad, era bastante
          impresionante.</p>
          <img src="/imgs/blog/ChristmasShow.jpg" alt="Christmas Show">
          <p>Aparte de los adornos, son unas fiestas familiares y en las que se
          compra mucho y se come mucho. Como en España, vamos. Claro que lo que
          se come es distinto y, en especial, los dulces. Aquí tienen cosas
          típicas británicas, como el <em>pudding</em>, los <em>mince pies</em>
          o los <em>christmas logs</em>, sumado a cientos de chocolatinas, galletas
          y packs para hacerte tus propias galletas, que te venden como una especie
          de experiencia familiar. Otra cosa que me hace mucha gracia, son los
          packs de constrúyete tu propia casita, de chocolate o galleta. Por supuesto,
          ¡nos compramos una y la hicimos! La casita no estaba especialmente rica,
          pero fue una experiencia de lo más divertida y venía todo muy bien
          preparado. ¡Y nos supo de maravilla!</p>
          <img src="/imgs/blog/ChristmasHouse.jpg" alt="Christmas House">
          <p>Por nuestra parte, las fiestas han sido tranquilas y no hemos visto
          a mucha gente. Pero al igual que en España, son familiares, con la
          excepción de Nochevieja. Pero este año no había ganas de festejar ni
          tampoco estaba permitido en muchas partes. De hecho, vimos tanto las
          campanadas en la Puerta del Sol (por nostalgia) como la caída de la bola
          en <strong>Times Square</strong>. Hay que decir que la caída tiene menos
          gracia, pero suponemos que sin gente no es lo mismo.</p>
          <p>Nos falta aún Reyes, que la haremos solitos pero contentos.
          Un detalle curioso es que aunque aquí no celebren Reyes, al menos en
          nuestra ciudad conocen la fiesta, principalmente por la influencia latina.
          </p>
          <p>¡Esperamos que no nos traigan carbón!
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Miércoles, 16 de diciembre de 2020</p>
          <h3>Tormenta de nieve</h3>
          <p>Llevamos desde el pasado domingo preparándonos para la primera tormenta
          de nieve grande del invierno. Lo he leído en mi app del tiempo, lo han
          anunciado en la televisión, aparece como destacado en los móviles y lo
          avisa Alexa. Las primeras previsiones hablaban de 10 cms de acumulación.
          El lunes ya era de 15 a 20 cms, y hoy dicen que <strong>se espera que sean
          menos de 35 cms</strong>. Hace un frío de -6 Cº y se espera que la
          sensación térmica sea de hasta -17 Cº. Todo esto, va a durar aproximadamente
          24 horas. </p>
          <p>La compañía de electricidad nos ha enviado mensajes de texto avisando
          que la nieve puede hacer que se caigan ramas  y se interrumpa
          momentaneamente el servicio. Hay una alerta pública del National Weather
          Service que dice que viajar puede ser <em>"De muy difícil a imposible"</em>.
          Pero que si tenemos que hacerlo, que llevemos <em>"Una linterna extra,
          comida y agua"</em>. Nuestro edificio nos ha avisado que despejemos
          las plazas de aparcamiento de la entrada para facilitar el paso del
          quitanieves. </p>
          <p>Y todos, sin excepción, nos desean que estemos
          a salvo durante la tormenta.</p>
          <p><strong>¿Soy la única que tiene muchísimas ganas de que esto empiece para
          ver cómo es?</strong></p>
          <p>Seguro que al final de este invierno estoy hasta las narices de
          nieve y frío y mascarillas mojadas. Pero, ahora mismo, ¡estoy con
          mucho hype!
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Lunes, 7 de diciembre de 2020</p>
          <h3>Escasez de adornos de Navidad</h3>
          <p>Una cosa que me parece realmente curiosa de aquí, es lo rápido que
          se acaba la decoración de las fiestas en las tiendas. He leído algunos
          artículos que hablan que este año la gente ha empezado a decorar antes,
          pero hay extremos que no tienen sentido. Fuimos a comprar adornos
          para Halloween cuando quedaban dos semanas para que empezara, y no
          quedaban apenas, sólo los de liquidación. Es más, ya estaban empezando
          a poner los adornos de Navidad.</p>
          <p>Pese a haber visto esto, no esperábamos que también pasara con la
          Navidad, más teniendo en cuenta las cantidades de productos que había.
          Pues nada, hoy hemos tenido que rebuscar y, de milagro, hemos encontrado
          medias para colgar con nuestras iniciales. Como es de imaginar,
          de muchos colores sólo quedaba la letra X. ¿Y bolas para el árbol?
          Pues en esa tienda no quedaba ni una, tendremos que probar en otras.</p>
          <img src="/imgs/blog/ChristmasStockings.jpg" alt="Christmas stockings">
          <p> ¿Es que todo el mundo renueva sus adornos cada año y por eso se agotan
          con tanta rapidez? Pues no lo sé, pero me atrevería a decir más bien
          que este es un país tan grande, con tanta gente y tantas circunstancias
          diferentes, que siempre hay demanda de todo.</p>
          <p> Y claro, también es verdad que por lo que parece, la gente está
          decorando para sentirse un poco mejor y más alegre en este año tan
          raro. ¡Veremos a ver si las Navidades del año que viene son iguales!
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Jueves, 3 de diciembre de 2020</p>
          <h3>Carpetas de gomas</h3>
          <p>Hay una tienda a la que me gusta ir cuando tengo que comprar cosas
          de índole general. Tiene una buena sección de papelería y he pasado
          varias ocasiones viendo las variedades de bolígrafos, rotuladores y
          diferentes papeles. Lo que no conseguía entender era por qué no tenían
          simples carpetas de gomas. Y resulta que el tema tiene más miga de
          lo que pensaba.</p>
          <p>Lo primero que hice fue mirar en varias tiendas online a ver si las
          tenían en stock. Cuando miré en una tienda especializada en papelería
          y manualidades, y vi que no tenían tampoco, la cosa empezó a extrañarme.
          Así que revisé si era un problema de la traducción al inglés que estaba
          usando de la palabra. Efectivamente, <em>folder</em> no parecía
          referirse a todo tipo de carpetas, si no a aquellas hechas sólo de
          cartón y sin cierre. Así que probé todo tipo de sinónimos, busqué tipos
          de carpetas por internet y no había manera de encontrarlas. <em>File
          folder</em>, <em>Tab Folder</em>, <em>Fastener folder</em>, <em>File
          jacket</em>, <em>2-Pocket Folder</em>, <em>Portfolio</em>...
          ninguna cuadraba. No fue sin esfuerzo, que finalmente descubrí el
          nombre que necesitaba: <strong> 3-Flap Folder</strong>. ¡Fantástico!
          Pero no las tenían en ninguna tienda... </p>
          <p>Mientras tanto, íbamos acumulando papeles y papeles, y yo no sabía
          muy bien cómo los iba a almacenar. ¿Acabaría encargando las carpetas
          online, como la escoba? Y otra pregunta que me hacía, ¿cómo organizaban
          los americanos sus papeles? Todo me parecía demasiado incómodo. Había
          comprado una carpeta con dos bolsillos y no cabían muchos papeles.
          Además, estas carpetas solían ser cosas bien muy profesionales, bien
          para el colegio.</p>
          <p>Hoy necesitaba ir a comprar sobres y clips, y fui a la tienda que
          me gusta porque sabía que tenían. Y me pasé de nuevo por la parte
          donde tenían todos los <em>folders</em> y los contemplé un buen rato.
          Entonces, se me ocurrió coger uno de ellos, que tenía dos bolsillos,
          y pensé: <em>"Aquí no cabe nada"</em>. Pero entonces, vi que tenía
          unos agujeros perforados. Y entonces me di cuenta. <em>"¡Claro! ¡Los
          agujeros son para ponder varios de estos en una carpeta grande con
          anillas!"</em></p>
          <p>Solucionado el misterio, compré la carpeta de anillas y cuatro
          <em>pocket folders</em>, y ahora tengo todos mis documentos bien organizados.
          Ya encargaré carpetas de gomas si las necesito, pero por ahora, todo
          está bien.
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Sábado, 28 de noviembre de 2020</p>
          <h3>El problema de las escobas</h3>
          <p>Revisando los artículos que estaban rebajados por el <strong>Black
          Friday</strong>, he hecho un gran descubrimiento, casi oculto entre
          productos tecnológicos:
          uno de los artículos que se han agotado más rápidamente, con unas
          puntuaciones altísimas y miles de reviews...
          <strong>es una escoba con un recogedor largo</strong>.</p>
          <p>¡Y no me extraña en absoluto!</p>
          <p>Cuando llegamos al país, una de nuestras primeras compras fue para
          comprar productos de limpieza. Nos habían avisado que las fregonas
          como en España, eran una cosa rara de encontrar. Pero encontramos una
          muy apañada que estaba de oferta especial y nos sentimos muy contentos.
          El problema llegó a la hora de comprar una simple escoba. Había de varias
          formas y tamaños, pero <strong>todas, sin excepción, venían con un recogedor
          pequeño</strong>. Hace ya muchos años que juré que no me volvería a dejar
          los riñones con ellos, pero era imposible encontrar un recogedor alto
          en ninguna de las tiendas que visitamos. Así que lo encargamos por internet.
          Y lo más gracioso era leer las reviews americanas, gente maravillada con
          la simplicidad e innovación de ese aparato. ¡Magia pura! </p>
          <p> ¿Será que en España estamos a la vanguardia de la limpieza? :)</p>
          <p> Sólo sé que no me extrañan las reviews en absoluto.
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Lunes, 16 de noviembre de 2020</p>
          <h3>Alertas</h3>
          <p>Ya que está bastante claro que vamos a pasar aquí las Navidades,
          decidimos que debíamos decorar la casa con estilo navideño. Así que
          era el momento perfecto para ir a una tienda a la que llevaba un
          tiempo queriendo ir: <strong>Christmas Tree Shops andThat!</strong>.
          Oh sí, la tienda se llama así. Y tenía mucha curiosidad por entrar,
          así que ayer por la tarde nos acercamos a una que nos queda
          a 10 minutos en coche.</p>
          <p>Para ir, tenemos que pasar por una zona de colinas llena de casitas
          bajas con jardín y muchos árboles. Soplaba mucho viento y, al girar
          una curva, vimos una rama enorme que cruzaba los dos carriles de la
          carretera. Otro coche había llegado un poco antes que nosotros, y el
          conductor se bajó a retirarla. Pudimos pasar sin problemas, pero nos
          extrañó porque tenía que haberse caído momentos antes. </p>
          <p> Llegamos a la tienda y, como puede esperarse, pudimos encontrar
          bastante decoración navideña. En mitad de las compras, repentinamente,
          <strong>empezaron a sonar al mismo tiempo todos los móviles de la tienda
          </strong>. El mío, que estaba en vibración, empezó a moverse de forma
          salvaje dentro de mi bolso. Lo cogí, y en la pantalla ponía: <strong>
          "Alerta de tornado. Revise la información local y busque refugio"</strong>.
          He de admitir que me asusté bastante, y me acordé que esto ya me había
          pasado antes estando en Hawaii. En esa ocasión no pasó nada y, por
          suerte, se quedó en una anécdota. Además, mirando alrededor, la gente
          en la tienda estaba muy tranquila. Pero nos fuimos a pagar a ver si
          nos podíamos volver a casa. Mi marido se puso a hablar con la cajera
          y ella nos dijo que no creía que fuera nada grave. Otro cliente detrás
          nuestro nos dijo que no nos preocupáramos y que condujésemos con cuidado
          al volver. En ese momento, mi marido dijo <em>"¿Eso que suena es el
          viento?"</em>. Todos nos quedamos callados y escuchamos un bramido
          salvaje de fondo. A la cajera incluso le entró la risa nerviosa y le
          dijo a una compañera que hoy les tocaba dormir en la tienda.</p>
          <p> Fuimos a la salida y no pudimos salir a la calle. Estaba lloviendo
          con mucha fuerza y el viento era feroz. Varias personas estábamos en la
          entrada alucinando y grabando con el móvil. Miramos la predicción del
          tiempo, y todo apuntaba a que al poco tiempo se relajaría. Y ciertamente,
          a los quince minutos amainó bastante y nos fuimos corriendo al coche.
          Pudimos volver sin problemas, aunque como se puede imaginar, no fuimos
          por la ruta de las colinas.</p>
          <p>Y así ha sido nuestra primera alerta de tornado en New York. Parece
          que aquí prefieren curarse en salud y avisar con la mínima posibilidad
          de desastre. ¡Espero que sigan siendo posibilidades y no pasen de eso!
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Viernes, 13 de noviembre de 2020</p>
          <h3>Ardillas negras</h3>
          <p>Yo nunca había visto ardillas negras hasta que llegué aquí. Por todas
          partes hay ardillas, tanto grises como negras, y parecen vivir juntas
          sin problemas. Hay tantas, que el otro día fui a comprar y a la vuelta
          no encontré a ninguna persona pero sí a cinco ardillas.</p>
          <p> Como estaba extrañada, investigué un poco al respecto, y resulta
          que las ardillas negras en realidad son una mutación genética bastante
          frecuente. Así que realmente son ardillas grises (la especie concretamente
          es <strong>Ardilla de las Carolinas</strong>), pero algunas son más
          oscuritas que otras. De cerca y con sol, se ve que son marrón
          oscuro, pero de lejos, son negras.</p>
          <img src="/imgs/blog/BlackSquirrell.jpg" alt="Black Squirrell">
          <p>Me gusta esto de tener tantos animales cerca, no estaba acostumbrada
          a esto en Madrid. He visto ardillas, ardillas listadas, gansos de Canadá,
          cuervos, arrendajos azules, gaviotas, estorninos... Aún no he visto
          ciervos, pero seguro que veo pronto.
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Miércoles, 21 de octubre de 2020</p>
          <h3>Veinte semanas</h3>
          <p>Pese a que aquí la situación es muy similar a la de España, la COVID19
          nos genera problemas inesperados. El primero de ellos, que es quizás
          uno de los más relevantes, es que hace complicada la socialización.
          La gente sale menos y tiene menos ganas de hacerlo. Además, las
          mascarillas muchas veces hacen que sea difícil entenderse, y más
          cuando aún no tengo el oído hecho al acento neoyorkino ni tengo
          cogida la pronunciación.</p>
          <p> Hace unos días en el supermercado, un hombre me preguntó algo
          en la cola para pagar y yo fui incapaz de entenderle. Me lo volvió
          a repetir y sólo puede farfullar impotentemente un <em>"I'm really
          sorry, I can't understand you"</em>. El hombre, que se le notaba
          algo desesperado, se apartó la mascarilla para poder hablar mejor.
          Y entonces vi que apenas tenía dientes y me sentí realmente mal,
          porque seguía sin entenderle y no era su culpa. Al final, una mujer
          que estaba detrás mío le respondió y él se fue. No entendí a
          ninguno y me sentí completamente boba...</p>
          <p> El otro gran problema que nos está causando el virus, es un
          problema con los suministros. Mientras que los suministros básicos
          como los alimentos, están garantizados, en otros como los muebles o
          la electrónica, hay una escasez evidente. Y todo parece ser un
          problema de transporte, porque si el producto está en stock, lo tienes
          en el momento. Pero si no está en stock, tardan semanas en reponerlo.
          Por esto, el sábado pasado fuimos a mirar sofás, y en la primera
          tienda que entramos nos dijeron que tardarían <strong>20 semanas
          </strong> en llevárnoslo. <em>¿¿Cómo??</em> Esto nos pareció una exageración,
          y salimos de la tienda.</p>
          <p>Nos pasamos el sábado visitando varias
          tiendas de muebles más y, sin ser tan exagerados, sí que en la
          mayor parte de ellas nos entregaban los muebles en unas 6 semanas.
          Finalmente, encontramos una con un sofá que nos gustó mucho y que
          sólo tardarían 4 semanas. Como nos quedaba aún una tienda por ver,
          que además estaba justo en frente, le dijimos a la vendedora que
          volveríamos en un rato. Fuimos a la otra tienda, revisamos los sofás,
          y vimos que realmente nos gustaba más el anterior. Así que volvimos
          y localizamos de nuevo a nuestra vendedora. En ese momento nos dijo
          que ahora el sofá llegaría a principios de diciembre. <em>¿Cómo es
          posible? ¡Ha pasado media hora!</em> Resultaba que era una cadena de
          tiendas muy grande y el inventario era general para todas, así que
          en ese tiempo se había agotado el inventario para esas fechas. </p>
          <p>Por supuesto, lo encargamos. ¡A saber cuántos retrasos más podría
          haber! Y ahora ya sólo nos queda esperar... pero no sentados.
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Viernes, 9 de octubre de 2020</p>
          <h3>Alquileres y mudanzas</h3>
          <p>Nos hemos conseguido mudar en una semana, por increíble que parezca.
          El viernes pasado, el 2 de octubre, firmamos el contrato. La cosa es que
          como ya habíamos visto muchas casa por internet, teníamos bastante claro
          lo que queríamos y sólo nos quedaban detalles que sólo se pueden ver
          en persona. Curiosamente, la que al final hemos elegido era la que menos
          nos llamaba la atención, pero las condiciones son muy buenas, la casa
          tiene muy buena pinta y la atención fue estupenda.</p>
          <p>¿Cómo fue ver casas aquí? Pues muy condicionado por la COVID. Por supuesto,
          mascarillas obligatorias y en muchas, con guantes. En varias de ellas
          tenían lo que llamaban <em>"self guided tours"</em>, en los que nos daban
          las llaves y nosotros las devolvíamos cuando acabábamos. Esto no estaba
          mal, sobre todo porque no había límite de tiempo ni agentes pesados, pero
          nadie contestaba las dudas y se sentía muy impersonal. Los pisos aquí
          son muy caros, y los acabados no son siempre los mejores. Así que da un
          poco de rabia ver el dineral que te piden por algo que tampoco es lo
          más nuevo ni lo de mejor calidad. Pero creo que finalmente hemos elegido
          bien, veremos a ver qué tal.</p>
          <p>La única cosa un poco rara de nuestra nueva casa es que no tiene
          lámparas ni en el salón ni en las habitaciones. Es curioso, porque
          los interruptores existen y, al principio, creíamos que no funcionaban.
          Pero entonces mi marido vio que tenían unas pegatinas redondas, rojas
          y verdes, y se dio cuenta que también había enchufes que tenían las
          mismas pegatinas y que se correspondían con ellas. Así que al menos
          ahora sabemos dónde deberían ir las lámparas.</p>
          <p>Ahora estamos liadísimos comprando cosas y acondicionando la casa.
          El sábado pasado fuimos a comprar la cama, y el vendedor era un hombre
          absolutamente encantador. No hacía más que decirnos que no nos podía
          engañar, porque estaba orgulloso de su trabajo y había un <em>"poder
          superior que lo gobernaba"</em>. Y cuando decía esto, se reía, levantaba
          las manos y miraba al cielo. Un espectáculo, y pese a todo, profesional
          y rápido, ¡así que muy contentos!
          <p>¡Ahora a seguir amueblando y descubriendo!
          </p>
          <hr>
        </article>
        <article class="blog-entry content-spaced">
          <p class="publication-date">Miércoles, 7 de octubre de 2020</p>
          <h3>Cómo entramos en Estados Unidos en plena pandemia</h3>
          <p>Sin duda, el último mes ha sido uno de los más extraños de mi vida.
          Extraño e incomparable. Porque no es solamente la primera vez que me
          mudo a otro país e intento adaptarme a una cultura e idiomas diferentes
          al mío. Es sobre todo el contexto en el que ha sucedido todo, el hecho
          de que el Coronavirus ha venido, se ha quedado, y está echando raíces
          entre nosotros. Eso hace que nada sea fácil.</p>
          <p>La vida de mi familia llevaba mucho tiempo en suspensión. Primero, esperando
          la documentación de la visa y de la empresa, que había llevado un año
          por las condiciones previas, y otros cinco meses de retraso. Y después,
          la elipsis más desesperante, esperando a que se aliviase la crisis
          provocada por elCoronavirus. Cuando el día 12 de marzo se cerraron las
          fronteras con Estados Unidos, nadie suponía que en septiembre continuarían
          cerradas y sin vistas a abrirse.</p>
          <p>A finales de agosto, cuando las vacaciones ya habían terminado, nos
          sentamos a hablar del futuro. Y estábamos bastante desesperanzados.
          Necesitábamos retomar el control de nuestra vida, replanear si era
          necesario, pero avanzar al fin y al cabo. ¿Seguíamos esperando o qué
          podíamos hacer? La proclama presidencial que cerraba las fronteras, prohibe
          viajar a Estados Unidos a ciudadanos que hayan estado los últimos 14
          días en el espacio Schengen. Pero...<em>¿y si pasábamos 14 días fuera
          de este área?</em>. Parecía posible pensar que se podría hacer de esta
          manera.</p>
          <p>Decidimos tomar esto como una verdadera última oportunidad y comenzamos
          a movernos de nuevo, con un gran objetivo en el horizonte más inmediato.</p>
          <p>Primero, había que identificar desde qué países se podía entrar a
          EEUU y cuáles eran los que permitían entrar a españoles. La situación
          de la COVID19 había empeorado mucho en España a lo largo de agosto y estaba
          habiendo muchos rebrotes, por lo que muchos países que habían reabierto
          fronteras con España ahora las estaban cerrando a cal y canto. Y la
          situación era tan extrema, que las condiciones cambiaban de un día para otro.
          Mención aparte merecen los vuelos: no podíamos hacer escala en las zonas
          prohibidas, ya que eso también se consideraba estar en esos países.
          Con las compañías aéreas tocadas por la pandemia y reduciendo vuelos y
          flota, esto se convirtió en un rompecabezas.</p>
          <p>Finalmente sólo nos quedaron dos opciones que veíamos factibles:
          <strong>Estambul, en Turquía</strong> y <strong>Santo Domingo, en
          República Dominicana</strong>. Ambos tenían exigencias bajas de viaje:
          sólo nos pedían llevar tests PCR. La diferencia era que uno estaba
          cerca de casa y el otro estaba cerca de New York.
          Después de mucho pensarlo, finalmente decidimos que, si nos rechazaban,
          era mejor que lo hicieran en la parte más corta del viaje. ¡Así que
          escogimos <strong>Santo Domingo</strong>!</p>
          <p>A todo esto, nos aprobaron la mudanza para el día 3 de septiembre, y
          empaquetaron todo lo que nos íbamos a llevar. Nuestra meta era mudarnos
          en una semana. Teníamos tanto estrés y tantas preocupaciones que apenas
          estábamos durmiendo, despertándonos en mitad de la noche con la idea de
          que se nos había olvidado guardar algo. Yo llevaba ya dos semanas sin
          parar entre rellenar documentos, hacer cajas y limpiar y tirar cosas.
          Para mayor diversión, la mayoría de nuestra familia y amigos ni siquiera
          lo sabían, porque no queríamos preocuparles si no lo conseguíamos...
          Era una locura.</p>
          <p>Finalmente, el día 7 nos hicimos las PCR, y cuando tuvimos los
          resultados, compramos los vuelos y el hotel de Santo Domingo. El día 10
          de septiembre nos fuimos al aeropuerto con el corazón en un puño, las
          pruebas PCR en una mano y la visa en la otra. No nos pidieron las pruebas
          en ningún momento, nos montamos en el avión y aterrizamos agotados varias
          horas después. En inmigración tampoco nos pidieron las pruebas y, con
          cara de tontos de lo fácil que había sido, nos fuimos al hotel.</p>
          <p>Apenas salimos de ese hotel los 15 días que estuvimos. Había un <strong>
          toque de queda</strong> a las 19:00 horas entre diario y a las 17:00
          horas en fin de semana, y el calor era demasiado agobiante como para
          estar fuera. Así que hicimos un par de visitas rápidas al centro y el
          resto lo pasamos en la piscina y el lounge del hotel.</p>
          <p>El 26 de septiembre nos dirigimos al aeropuerto de nuevo a coger el
          vuelo a New York, bastante nerviosos. En el aeropuerto nos trataron
          muy bien, nos pideron la documentación varias veces, lo explicamos todo
          (por suerte en español, otro de los motivos para ir allí), y pasamos sin
          demasiados problemas. Cogimos el avión y llegamos al aeropuerto JFK en
          New York...</p>
          <img src="/imgs/blog/ArrivingNY.jpg" alt="Arriving NY">
          <p><strong>Ha sido la vez que menos tiempo he pasado en el control de
          inmigración en Estados Unidos</strong>: el oficial de aduana parecía que
          tenía prisa. No hicimos cola, el oficial nos vio la documentación, nos
          pidió los datos y entramos.
          <strong>¡Un mes de preocupación resuelto en 10 minutos!</strong></p>
          <p>¡Y así es como empieza nuestra aventura americana!
          </p>
        </article>
        <!--<article class="blog-entry content-spaced">
          <p class="publication-date">weekday, number de month de year</p>
          <h3>Title</h3>
          <p>Texto que vaya a escribir, bla, bla, bla.
          </p>
          <hr>
        </article>-->
        <footer class="about">
          <p class="highlight">Sobre mí</p>
          <p>Mi nombre es Beatriz Alonso, una madrileña viviendo en New York
          (estado, que no ciudad). Si quieres contactar, escríbeme a <a href=
          "mailto:beatrizalonso84@gmail.com">beatrizalonso84@gmail.com</a>. I
          can speak both spanish and english!</p>
        </footer>
      </main>
    </div>
  </body>
</html>
