<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - {{page-title}}</title>
    <meta name="description" content="Beatriz Alonso - Personal Website">
    {{> styles}}
    <link rel="stylesheet" href="/styles/home.css" media="screen">
  </head>
  <body>
    {{> header}}
    <div id="wrapper">
      <nav>
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="resources/BeatrizAlonsoResume.pdf">Resume</a></li>
        </ul>
        <p> Web under construction</p>
      </nav>
      <main id="page-home">
        <h2>Home</h2>
        <div id="project-grid-wrapper">
          {{#each projects}}
          <a href="{{path}}">
            <img src="/imgs/thumbs/{{thumb}}" alt="{{title}}" />
          </a>
          {{/each}}
          <a href="imgs/ActualWIP.png">
            <img src="imgs/thumbs/ActualWIP.png" alt="Actual Work In Progress" />
          </a>
          <a href="imgs/ForestTroll.png">
            <img src="imgs/thumbs/ForestTroll.png" alt="Forest troll concept" />
          </a>
          <a href="imgs/GeishaDoll.png">
            <img src="imgs/thumbs/GeishaDoll.png" alt="Geisha character
            concept art" />
          </a>
          <a href="imgs/KnightsOfHadroniaArielConcept02.png">
            <img src="imgs/thumbs/KnightsOfHadroniaArielConcept02.png"
            alt="Knights of Hadcronia Ariel first in-game concepts" />
          </a>
          <a href="imgs/KnightsOfHadroniaArielConcept.png">
            <img src="imgs/thumbs/KnightsOfHadroniaArielConcept.png" alt="Knights
            of Hadcronia Ariel first concepts" />
          </a>
          <a href="imgs/KnightsOfHadroniaAssetsSample.png">
            <img src="imgs/thumbs/KnightsOfHadroniaAssetsSample.png"
            alt="Knights of Hadronia assets first concepts" />
          </a>
          <a href="imgs/Ghoulina.png">
            <img src="imgs/thumbs/Ghoulina.png" alt="Ghoulina Poster" />
          </a>
          <a href="imgs/WarAngel.png">
            <img src="imgs/thumbs/WarAngel.png" alt="War Angel" />
          </a>
          <a href="imgs/DrunkenPug.png">
            <img src="imgs/thumbs/DrunkenPug.png" alt="Drunken Pug" />
          </a>
          <a href="imgs/NudeSanguine.png">
            <img src="imgs/thumbs/NudeSanguine.png" alt="Nude Study Sanguine" />
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
