<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - Project - {{title}}</title>
    {{> styles}}
    <link rel="stylesheet" href="/styles/project.css" media="screen">
    {{> opengraph}}
    {{> twittercard}}
    {{> analytics}}
  </head>
  <body>
    {{> header}}
    <nav id="project-nav-left" class="project-shell project-nav">
      {{#if previous}}
      <a href="/{{previous.path}}"></a>
      {{/if}}
    </nav>
    <main>
      <section class="gallery">
        {{#each images}}
        <a href="/imgs/{{name}}" target="_blank">
          <img src="/imgs/{{name}}" alt="{{alt}}" />
        </a>
        {{/each}}
      </section>
      <aside>
        <div id="project-detail-wrapper">
          <h3>{{title}}</h3>
          {{{contents}}}
          <h4>Tools</h4>
          {{#each tools as |tool|}}
          <img src="/imgs/icons/tools/{{tool}}.png" alt="{{tool}}"
          class="software-icons" title="{{tool}}"/>
          {{/each}}
        </div>
      </aside>
    </main>
    <nav id="project-nav-right" class="project-shell project-nav">
      <a href="/" class="close"></a>
      {{#if next}}
      <a href="/{{next.path}}" class="next"></a>
      {{/if}}
      <div class="stop"></div>
    </nav>
  </body>
</html>
