<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - {{page-title}}</title>
    <meta name="description" content="Beatriz Alonso - Personal Website">
    {{> styles}}
    <link rel="stylesheet" href="/styles/resume.css" media="screen">
    {{> analytics}}
  </head>
  <body>
    {{> header}}
    <div id="wrapper">
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="/resume/">Resume</a></li>
        </ul>
      </nav>
      <main>
        <h2>Curriculum Vitae</h2>
        <h3>Professional Experience</h3>
          <dl>
            <dt>2017 - 2018</dt>
              <dd>
                <h4 id="last-job">UI Artist</h4>
                <p>Demium Games</p>
                <p><a href="http://demiumgames.com" target="_blank">
                demiumgames.com</a></p>
              </dd>
            <dt>2016 - 2017</dt>
              <dd>
                <h4>Teacher for Artistic Basis in Video Games</h4>
                <p> Subject for <a href="http://www.unir.net/" target="_blank">UNIR</a>
                  Master in Video Games Design and Development</p>
              </dd>
            <dt>2014 - 2016</dt>
              <dd>
                <h4>Game Artist</h4>
                <p>HeYou Games <a href="http://heyougames.com" target="_blank">
                  (heyougames.com)</a></p>
              </dd>
            <dt>2014</dt>
              <dd>
                <h4>Lead Artist and 2D Artist</h4>
                <p>Video Game Project for Master Course</p>
              </dd>
            <dt>2005 - 2014</dt>
              <dd>
                <h4>Freelance Designer and Artist</h4>
                <p>Different Private Individuals</p>
              </dd>
          </dl>
        <h3>Educational Background</h3>
          <dl>
            <dt>2013 - 2014</dt>
            <dd>
              <h4>Master Degree in Art and Visual Design for Video
                Games</h4>
              <p>U-Tad, Madrid, Spain</p>
            </dd>
            <dt>2002 - 2007</dt>
            <dd>
              <h4>Bachelor's Degree in Fine Arts</h4>
              <p>Universidad Complutense de Madrid, Spain</p>
            </dd>
          </dl>
        <hr>
          <div class="title-icon">
            <img src="/imgs/icons/IconGames.png" alt="Games">
            <h3>Published Games</h3>
            <dl>
              <dt>2018</dt>
              <dd class="game-published">
                <img src="/imgs/icons/games/IconQuest4Fuel.png"
                  alt="Quest 4 Fuel">
                <h4>Quest 4 Fuel</h4>
                <p class="platform">(
                  <a>
                    Game in Beta Phase
                  </a>)
                </p>
                <p>Creation of the first iteration of the UI Art, HUD and Screens Flow</p>
                <p>Implementation of the Screens in Unity 3D</p>
              </dd>
              <dd class="game-published">
                <img src="/imgs/icons/games/IconRogueMonkeys.png"
                  alt="Rogue Monkeys">
                <h4>Rogue Monkeys</h4>
                <p class="platform">(
                  <a href="https://play.google.com/store/apps/details?id=com.GloomyCaveEntertainment.RogueMonkeys" target="_blank">
                    Android
                  </a>)
                </p>
                <p>Establishment of the art direction for the game</p>
                <p>Creation of the characters, items, UI and HUD, and the
                  two firsts environments</p>
                <p>Animations for the two in-game characters</p>
              </dd>
              <dt>2016</dt>
              <dd class="game-published">
                <img src="/imgs/icons/games/IconYouTurbo.png"
                alt="YouTurbo">
                <h4>YouTurbo</h4>
                <p class="platform">(
                  <a href="https://play.google.com/store/apps/details?id=com.heyougames.youturbo">
                  Android
                </a>,
                  <a href="https://itunes.apple.com/au/app/youturbo/id1106558008?mt=8">
                    iOS
                  </a>)
                </p>
                <p>Creation of art guidelines and art pipeline for the game</p>
                <p>Responsible for the enemy and character outfits team</p>
                <p>Team management and training of new artists</p>
              </dd>
              <dt>2015</dt>
              <dd class="game-published">
                <img src="/imgs/icons/games/IconJumpingJam.png"
                alt="Jumping Jam">
                <h4>Jumping Jum</h4>
                  <p class="platform">(
                    <a href="https://play.google.com/store/apps/details?id=com.heyougames.jumpstersmmo&hl=es" target="_blank">
                      Android
                    </a>,
                    <a href="https://itunes.apple.com/au/app/jumping-jam-endless-multiplayer/id1027745400?mt=8" target="_blank">
                      iOS
                    </a>)
                  </p>
                    <p>Creation of art guidelines and art pipeline</p>
                    <p>Responsible for the entirely of the art</p>
                    <p>(concept, modelling, animation, UI and promotional art)</p>
                </dd>
                <dd class="game-published">
                  <img src="/imgs/icons/games/IconJumpsters.png" alt="Jumpsters">
                  <h4>Jumpsters</h4>
                    <p class="platform">
                      <a>
                        (iOS)
                      </a>
                    </p>
                    <p>Creation of art guidelines and art pipeline</p>
                    <p>Responsible for the entirely of the art</p>
                    <p>(concept, modelling, animation, UI and promotional art)</p>
                </dd>
                <dd class="game-published">
                  <img src="/imgs/icons/games/IconLikwit.png"
                  alt="Likwit">
                <h4>Likwit</h4>
                  <p class="platform">(
                    <a href="https://play.google.com/store/apps/details?id=com.likwitgame.likwit" target="_blank">
                    Android
                    </a>,
                    <a href="http://likw.it/" target="_blank">
                      iOS
                    </a>)
                  </p>
                  <p>Restyling of all existing 2D art</p>
                  <p>Creation of new 3D art and new FX</p>
                </dd>
              <dt>2014</dt>
              <dd class="game-published">
                <img src="/imgs/icons/games/IconInanisHoro.png"
                alt="Inanis &amp; Horo">
                <h4>Inanis &amp; Horo</h4>
                  <p class="platform">(
                    <a href="http://www.inanisandhoro.com/" target="_blank">Android
                    </a>)
                  </p>
                <p>Creation of hand-painted textures for 3D models</p>
                <p>UI creation</p>
                <p>Team management</p>
              </dd>
            </dl>
          </div>
        <hr>
        <div class="title-icon">
          <img src="/imgs/icons/IconCompetences.png" alt="Competences">
          <h3>Skills</h3>
        </div>
        <div id="skills-column">
          <h4>High Competence</h4>
            <ul>
              <li>Character Design</li>
              <li>Concept Art</li>
              <li>Ilustration</li>
              <li>Graphic Design</li>
              <li>Vector Art</li>
              <li>UI Art</li>
              <li>Team Leadership</li>
              <li>Artistic Training</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
            </ul>
          <h4>Personal Skills</h4>
            <ul>
              <li>Creativity</li>
              <li>Good sense of leadership and team work</li>
              <li>Ability to adapt to different art styles</li>
              <li>Good eye for detail</li>
              <li>Flair for colour use</li>
              <li>Confortable with iterative approaches</li>
              <li>Open to feedback and adaptable to change</li>
              <li>Deep understanding of the Fine Arts</li>
            </ul>
          <h4>Extra Knowledge</h4>
            <ul>
              <li>Hand-painted texturing</li>
              <li>2D and 3D animation basics</li>
              <li>Guidelines and pipelines</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
            </ul>
          </div>
          <hr>
          <div class="title-icon">
            <img src="/imgs/icons/IconSoftware.png"
            alt="Software">
            <h3>Software</h3>
              <ul>
                <li>Adobe Creative Suite</li>
                <li>Autodesk 3ds Max</li>
                <li>Autodesk Mudbox</li>
                <li>Blender </li>
                <li>Unity 3D</li>
              </ul>
          </div>
        <hr>
        <div class="title-icon">
          <img src="/imgs/icons/IconLanguages.png" alt="Languages">
          <h3>Languages</h3>
            <dl id="languages">
              <dt>Spanish</dt>
              <dd>First Language</dd>
              <dt>English</dt>
              <dd>Vantage</dd>
            </dl>
        </div>
        <div class="title-icon">
        <p class="download-cv">
          <a href="/resources/BeatrizAlonsoResume.pdf" target="_blank">
            Download my <strong>resume</strong> in pdf!
          </a>
        </p>
      </main>
    </div>
  </body>
</html>
