<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - {{page-title}}</title>
    <meta name="description" content="Beatriz Alonso - Personal Website">
    {{> styles}}
    <link rel="stylesheet" href="/styles/resume.css" media="screen">
  </head>
  <body>
    {{> header}}
    <div id="wrapper">
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="/resume/">Resume</a></li>
        </ul>
      </nav>
      <main>
        <h2>Professional Experience</h2>
          <dl>
            <dt>Nov 2014 - Oct 2016</dt>
            <dd>
              <h3 id="last-job">Game Artist</h3>
              <p>HeYou Games</p>
              <p><a href="http://heyougames.com" target="_blank">
                heyougames.com</a></p>
            </dd>
            <dt>2014</dt>
            <dd>
              <h3>Lead Artist and 2D Artist</h3>
              <p>Video game Project for Master Course</p>
            </dd>
            <dt>2005 - 2014</dt>
            <dd>
              <h3>Freelance Designer and Artist</h3>
              <p>Different Private Individuals</p>
            </dd>
          </dl>
        <h2>Educational Background</h2>
          <dl>
            <dt>2013 - 2014</dt>
            <dd>
              <h3>Master Degree in Art and Visual Design for Video
                Games</h3>
              <p>U-Tad, Madrid, Spain</p>
            </dd>
            <dt>2002 - 2007</dt>
            <dd>
              <h3>Bachelor's Degree in Fine Arts</h3>
              <p>Universidad Complutense de Madrid, Spain</p>
            </dd>
          </dl>
        <hr>
        <h2>Published Games</h2>
          <dl>
            <dt>2016</dt>
            <dd class="game-published">
              <img src="/imgs/icons/games/IconYouTurbo.png"
              alt="YouTurbo">
              <h3>YouTurbo</h3>
              <p class="platform">(
                <a href="https://play.google.com/store/apps/details?id=com.heyougames.youturbo">
                Android
              </a>,
                <a href="https://itunes.apple.com/au/app/youturbo/id1106558008?mt=8">
                  iOS
                </a>)
              </p>
              <p>Creation of art guidelines and art pipeline for the
                game</p>
              <p>Responsible for the enemy and character outfits
                team</p>
              <p>Team management and training of new artists</p>
            </dd>
            <dt>2015</dt>
            <dd class="game-published">
              <img src="/imgs/icons/games/IconJumpingJam.png"
              alt="Jumping Jam">
              <h3>Jumping Jum</h3>
                <p class="platform">(
                  <a href="https://play.google.com/store/apps/details?id=com.heyougames.jumpstersmmo&hl=es">
                    Android
                  </a>,
                  <a href="https://itunes.apple.com/au/app/jumping-jam-endless-multiplayer/id1027745400?mt=8">
                    iOS
                  </a>)
                </p>
              <img src="/imgs/icons/games/IconJumpsters.png"
              alt="Jumpsters">
              <p><h3>Jumpsters</h3>
                <p class="platform">
                  (iOS)
                </p>
                <p>Creation of art guidelines and art pipeline for both
                  games</p>
                <p>Responsible for the entirely of the art</p>
                <p>(concept, modelling, animation, UI and promotional art)</p>
              </p>
                <img src="/imgs/icons/games/IconLikwit.png"
                alt="Likwit">
              </br>
              <h3>Likwit</h3>
                <p class="platform">(
                  <a href="https://play.google.com/store/apps/details?id=com.likwitgame.likwit">
                  Android
                  </a>,
                  <a href="http://likw.it/">
                    iOS
                  </a>)
                </p>
              <p>Restyling of all existing 2D art</p>
              <p>Creation of new 3D art and new FX</p>
            </dd>
            <dt>2014</dt>
            <dd class="game-published">
              <img src="/imgs/icons/games/IconInanisHoro.png"
              alt="Inanis &amp; Horo">
              <h3>Inanis &amp; Horo</h3>
                <p class="platform">(
                  <a href="http://www.inanisandhoro.com/">Android
                  </a>)
                </p>
              <p>Creation of hand-painted textures for 3D models</p>
              <p>UI creation</p>
              <p>Team management</p>
            </dd>
          </dl>
        <hr>
        <div id="skills-column">
          <h2>High Competence</h2>
            <ul>
              <li>Character Design</li>
              <li>Concept Art</li>
              <li>Ilustration</li>
              <li>Graphic Design</li>
              <li>Vector Art</li>
              <li>Team Leadership</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
            </ul>
          <h2>Personal Skills</h2>
            <ul>
              <li>Creativity</li>
              <li>Good sense of leadership and team work</li>
              <li>Ability to adapt to different art styles</li>
              <li>Good eye for detail</li>
              <li>Confortable with iterative approaches</li>
              <li>Open to feedback and adaptable to change</li>
              <li>Deep understanding of the Fine Arts</li>
              <li class="whitespaces">&nbsp;</li>
            </ul>
          <h2>Extra Knowledge</h2>
            <ul>
              <li>Hand-painted texturing</li>
              <li>2D and 3D animation bases</li>
              <li>FX art</li>
              <li>Guidelines and pipelines</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
              <li class="whitespaces">&nbsp;</li>
            </ul>
          </div>
          <hr>
          <h2>Software</h2>
            <ul>
              <li>Adobe Creative Suite</li>
              <li>Autodesk 3ds Max</li>
              <li>Autodesk Mudbox (Basics)</li>
              <li>Unity 3D</li>
              <li>UDK (Basics)</li>
            </ul>
        <hr>
        <h2>Languages</h2>
          <dl id="languages">
            <dt>Spanish</dt>
            <dd>First Language</dd>
            <dt>English</dt>
            <dd>Vantage</dd>
          </dl>
        <p class="download-cv">
          <a href="/resources/BeatrizAlonsoResume.pdf" target="_blank">
            Download my <strong>resume</strong> in pdf!
          </a>
        </p>
      </main>
    </div>
  </body>
</html>
