* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  /* min-fs + (max-fs - min-fs) * ((viewport-width - min-vw) / (max-vw - min-vw)) */
  font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
}

a {
  color: #a11f5b;
}

a:hover {
  font-weight: 400;
}

header {
  position: relative; /* For Blink for Android compatibility */
  z-index: 499;
  position: sticky;
  top: 0;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.3);
  background-color: white;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #787a89;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
  color: #787a89;
  margin-bottom: 0.7rem;
}

#header-top {
  display: flex;
  align-items: baseline;
}

#header-top p {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.15rem;
  color: #a11f5b;
}

#social-media {
  text-align: right;
  margin-left: auto;
}

#contact {
  text-align: right;
  font-weight: 300;
}

#project-detail {
  display: flex;
  background-color: #333;
  color: white;
}

#project-nav-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  min-width: 60px;
  box-sizing: border-box;
  background-color: transparent;
}

#project-detail > section {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  left: 10%;
  text-align: center;
  padding: 1rem 0;
}

#project-detail > section img {
  width: 80%;
  height: auto;
  margin: 1rem 0;
  box-shadow: 0 0 35px 2px black;
}

#project-nav-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 30%;
  width: 10%;
  min-width: 60px;
  box-sizing: border-box;
  background-color: transparent;
}

#project-detail > aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
}

#wrapper > * {
  padding-top: 2rem;
}

nav {
  box-sizing: border-box;
  width: 20%;
  min-width: 200px;
  font-size: 1.4rem;
  background-color: #f3f3f3;
}

nav ul {
  list-style: none;
}

nav li {
  padding: 1rem;
}

nav li.active {
  background-color: white;
}

nav a {
  color: #787a89;
  text-decoration: none;
  font-weight: 300;
}

main {
  padding-left: 3rem;
}

#page-home img {
  margin: 0.3rem;
  border-radius: 10px 0;
}

#page-home a {
  text-decoration: none;
}

#project-grid-wrapper {
  margin-left: -0.3rem; /* minus #page-home img { margin } */
}
